body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: inline-block;
    padding: 1em 2em;
}
.navbar a{
    padding: 1em 1.34em;
    background-color: #232323;
    border: 0px #232323;
    border-radius: 4.8em;
    text-decoration: none;
    display: inline-block;
    color: white;
}
.timer{
    display: flex;
}
#tedxlogo{
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}
#titleLanding{
    text-align: center;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#countdown li{
    display: inline-block;
    min-width: 25%;
    max-height: 15em;
    font-size: 0.75em;
    font-weight: bold;
    list-style-type: none;
    background-color: white;
    color: black;
    border: 0px white;
    border-radius: 30px;
    text-align: center;
    margin: 2% 1.5%;
    padding: 2em 0.01em;
}
#countdown ul{
    padding: 20px 3px;
}
#countdown li span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    font-weight: lighter;
    font-size: 4.5rem;
}
#register{
    background-color: #232323;
    color: white;
    border: 0px #232323;
    margin: 2% 7.5%;
    max-height: 28%;
    border-radius: 40px;
    font-size: 50px;
}
#arrow{
    margin-left: 232px;
}
#logocount{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
#logocount li{
    margin: 2px;
}
/* 
landing page 
*/


.speakers{
    height: 100vh;
    background: var(--black, #000);
    display: flex;
    justify-content: space-around;
}
.lefty{
    flex-basis: 0;
    margin-top: 4vh;
    width: fit-content;
}
.righty{
    float: right;
    flex-basis: 0;
    margin-top: 2vh;
    width: fit-content;
}

.headSpkrs{
    display: flex;
    border-radius: 40px;
    background: var(--white, #FFF);
    padding: 36px 333px 36px 50px;
    align-items: center;
    width: auto;
}
.spkrsText{
    color: var(--light-black, #232323);
    text-align: center;
    font-family: Satoshi Variable;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.spkrsAbout-l{
    display: flex;
    width: 595px;
    height: 230px;
    padding: 42px 30px;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--red, #FF2B06);
}

.spkrsAboutText-l{
    width: 520px;
    flex-shrink: 0;
    color: var(--light-black, #232323);
    font-family: Satoshi Variable;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.spkrsAbout-r{
    display: flex;
    width: 595px;
    height: 230px;
    padding: 42px 30px;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--light-black, #232323);
}

.spkrsAboutText-r{
    width: 520px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Satoshi Variable;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.spkrLayer{
   display: flex; 
   height: min-content;
   margin-top: 2vh;
   justify-content: flex-start;
}
.spkrsPhoto-l{
    border-radius: 40px;
    background: var(--light-black, #232323);
    width: 199px;
    height: 184px;
}
.spkrsPhoto-r{
    border-radius: 40px;
    background: var(--red, #FF2B06);
    width: 199px;
    height: 184px;
}
.spkrsTitleBlock-l{
    width: 381px;
    height: 120px;
    padding: 45px 30px 20px 30px;
    margin-left: 2vh;
    background: var(--light-black, #232323);        
    border-radius: 40px;
}
.spkrsTitleBlock-r{
    width: 381px;
    height: 120px;
    padding: 45px 30px 20px 30px;
    margin-left: 2vh;
    background: var(--red, #FF2B06);       
    border-radius: 40px;
}
.spkrsTitle-l{  
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
}

.spkrsTitleText-1-l{
    color: var(--white, #FFF);
    font-family: Satoshi Variable;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.spkrsTitleText-2-l{
    color: var(--white, #FFF);
    font-family: Satoshi Variable;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}

.spkrsTitleText-1-r{
    color: var(--light-black, #232323);
    font-family: Satoshi Variable;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}
.spkrsTitleText-2-r{
    color: var(--light-black, #232323);
    font-family: Satoshi Variable;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.spkrsNav{
    display: flex;
    margin-top: 2vh;
}
.arrowL{
    display: flex;
    width: 290px;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 70px;
    background: var(--white, #FFF);
}

.arrowR{
    display: flex;
    width: 290px;
    height: 140px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 4vh;
    border-radius: 70px;
    background: var(--white, #FFF);   
}


@media screen and (max-width: 825px) {
    .speakers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .lefty{
        margin-left: 0vb;
    }
    .righty{
        margin-left: 0vb;
    }

    .headSpkrs{
        height: 1.5rem;
        flex-shrink: 0;
        border-radius: 2.5rem;
    }
    .spkrsText{
        text-align: center;
        width: max-content;
        font-size: 2.5rem;
        line-height: normal;
        margin-top: -1vh;
    }
}

@media screen and (max-width: 420px){
    .speakers{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }  

}

/*     sponsors section  */
body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}



.heading-section {
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-black, #232323);
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.twoBlocks{
    display: flex;
    gap: 2em;
    margin-top: 4em;
    justify-content: center;
}

.left-sponsors-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.leftBlock{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}
.right-sponsors-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.rightBlock{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.sponsor-section {
    background: #232323;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 22em;
    align-items: center;
    justify-content: space-evenly;
}

.sponsor-section-1 {
    background: #ff2b06;
    border-radius: 45px;
    height: 20em;
    width: 22em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}

.btninst{
    width: 9em;
    height: 4em;
    flex-shrink: 0;
    padding: 0;
    border: none;
    background: #FF2B06;
    border-radius: 70px;
}
.btnfcb {
    width: 9em;
    height: 4em;
    flex-shrink: 0;
    padding: 0;
    border: none;
    background: #FF2B06;
    border-radius: 70px;
}
.btn1inst{
    width: 9em;
    height: 4em;
    flex-shrink: 0;
    padding: 0;
    border: none;
    background: #232323;
    border-radius: 70px;
}
.btn1fcb{
    width: 9em;
    height: 4em;
    flex-shrink: 0;
    padding: 0;
    border: none;
    background: #232323;
    border-radius: 70px;
}

.instb{
    width: 20%;
    background: #ff2b06;
}

.fcbb {
    width: 20%;
    background: #ff2b06;
    align-items: center;
}

.fcbr{
    width: 20%;
    background: #232323;
}

.instr{

    width: 20%;
    background: #232323;
}

.slogo {
    width: 9.0625rem;
    height: 9.0625rem;
    flex-shrink: 0;
    border-radius: 5rem;
    background: var(--white, #FFF);
}

.sun_img {
    margin-top: 1em;
    width: 442.87px;
    height: 110px;
    flex-shrink: 0;
}

.bottombox {
    height: 9em;
    width: 45em;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    
}

.logos{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}


/* ends here */
/* .heading-section {
    position: absolute;
    width: 595px;
    height: 140px;
    left: 30px;
    top: 30px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-heading {
    color: var(--light-black, #232323);
    text-align: center;
    font-family: Satoshi Variable;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.left-sponsors-section {
    position: absolute;
    width: 580px;
    height: 490px;
    left: 30px;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.right-sponsors-section {
    position: absolute;
    width: 580px;
    height: 490px;
    left: 670px;
    top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.sponsor-section {
    position: relative;
    width: 275px;
    height: 230px;
    background: #232323;
    border-radius: 40px;
}
.sponsor-section-1 {
    position: relative;
    width: 275px;
    height: 230px;
    background: #ff2b06;
    border-radius: 40px;
}

.bottombox {
    position: absolute;
    width: 595px;
    height: 140px;
    left: 655px;
    top: 550px;
    background: #FFFFFF;
    border-radius: 40px;
    display: flex;
}


.social-button {
    position: absolute;
    width: 95px;
    height: 40px;
    left: calc(50% - 95px/2);
    top: 170px;
    border-radius: 70px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    background: #FF0000; /* Red background color */
/* }
.btninst{
    position: absolute;
    width: 95px;
    height: 40px;
    padding: 0;
    border: none;
    left: calc(50% - 95px/2 + 55px);
    top: 170px;
    background: #FF2B06;
    border-radius: 70px;
}

.btnfcb{
    position: absolute;
    width: 95px;
    padding: 0;
    border: none;
    height: 40px;
    left: calc(50% - 95px/2 - 55px);
    top: 170px;
    background: #FF2B06;
    border-radius: 70px;
}
.instb{
    position: absolute;
    width: 26px;
    height: 26px;
    left: calc(50% - 26px/2 + 0.5px);
    top: calc(50% - 26px/2);
    background: #ff2b06;
}
.fcbb{
    position: absolute;
    width: 26px;
    height: 25.93px;
    left: calc(50% - 26px/2 + 0.5px);
    top: calc(50% - 25.93px/2 - 0.03px);
    background: #ff2b06;

}
.btn1inst{
    position: absolute;
    width: 95px;
    height: 40px;
    padding: 0;
    border: none;
    left: calc(50% - 95px/2 + 55px);
    top: 170px;
    background: #232323;
    border-radius: 70px;
}
.btn1fcb{
    position: absolute;
    width: 95px;
    height: 40px;
    padding: 0;
    border: none;
    left: calc(50% - 95px/2 - 55px);
    top: 170px;
    background: #232323;
    border-radius: 70px;
}
.fcbr{
    position: absolute;
    width: 26px;
    height: 25.93px;
    left: calc(50% - 26px/2 + 0.5px);
    top: calc(50% - 25.93px/2 - 0.03px);
    background: #232323;
}
.instr{
    position: absolute;
    width: 26px;
    height: 26px;
    left: calc(50% - 26px/2 + 0.5px);
    top: calc(50% - 26px/2);

}
.slogo{
    position: absolute;
    width: 145px;
    height: 145px;
    left: calc(50% - 145px/2);
    top: 15px;
    background: #FFFFFF;
    border-radius: 80px;

}
.sun_img{
    position: absolute;
    width: 442.87px;
    height: 110px;
    left: calc(50% - 442.87px/2 - 0.07px);
    top: calc(50% - 110px/2);
}  */

/*  ends here */

.aboutpage{
    display: flex;
    justify-content: center; 
    background-color: black; 
    gap:20px;
    /* position: relative; */
}
.leftaboutcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
}
.aboutpage .about{ 
    display: flex;
    /* justify-content: center; */
    
    align-items: center;
width: 595px;
height: 140px;
left: 30px;
top: 30px; 
background: #FFFFFF;
border-radius: 40px;

}
.aboutcontent{
    /* position: relative; */
    width: 172px;
    height: 68px;
    left: 50px;
    top: 36px;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 68px;
text-align: center;
margin-left: 36px;
color: #232323;
}
.aboutpage .content{  
    display: flex;
    justify-content: center;
    align-items: center;
width: 595px;
height: 660px;
left: 655px;
top: 30px; 
background: #FF2B06;
border-radius: 40px; 
}
.aboutpage .content .text{
/* position: absolute; */
width: 511px;
height: 570px;
left: calc(50% - 511px/2);
top: calc(50% - 570px/2); 
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
}

.aboutpage .imagesection{  
    display:flex;
    justify-content: center;
    align-items: center;
width: 595px;
height: 490px;
left: 30px;
top: 200px; 
background: #232323;
border-radius: 40px; 
}
.aboutpage .imagesection .image{
/* position: absolute; */
width: 452.66px;
height: 400px;
left: calc(50% - 452.66px/2 - 0.17px);
top: calc(50% - 400px/2);
}

.contactpage{
    display: flex;
    gap:20px;
    justify-content: center;
    background-color: black;  
}
.leftcontactcontainer{
    display: flex; 
    flex-direction: column; 
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.rightcontactcontainer{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.contacticonscontainer{
    display: flex;
    flex-direction: row;
}
 .contact{ 
 display: flex;
 align-items: center;
width: 595px;
height: 140px;
left: 30px;
top: 30px; 

background: #FFFFFF;
border-radius: 40px;

}
 .contactcontent{ 
    margin-left: 36px;
width: 322px;
height: 68px;
left: 50px;
top: 36px; 
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 68px; 
text-align: center; 
color: #232323;
}

.contactpage .imagesection{  
display: flex;
justify-content: center;
align-items: center;
width: 595px;
height: 550px;
left: 655px;
top: 30px; 
background: #232323;
border-radius: 40px;
}

.contactpage .imagesection .image{ 
width: 508.81px;
height: 490px;
left: calc(50% - 508.81px/2 - 0.1px);
top: calc(50% - 490px/2); 
}

.contactpage .leftcontactcontainer .mail, .phone,.address{ 
 display: flex;
 
 justify-content: center;
 align-items: center;
width: 595px;
height: 100px;
left: 30px;
top: 200px; 
background: #FF2B06;
border-radius: 70px; 
}
.contactpage .leftcontactcontainer .mail .content{
 
width: 363px;
height: 43px;
left: calc(50% - 363px/2);
top: calc(50% - 43px/2 + 0.5px); 
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 43px;
text-align: center; 
color: #232323;
} 
.contactpage .phone .content{
    /* position: absolute; */
    width: 266px;
    height: 43px;
    left: calc(50% - 266px/2 + 0.5px);
    top: calc(50% - 43px/2 + 0.5px); 
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center; 
    color: #232323;
} 
.contactpage .address .content{ 
    /* position: absolute; */
    width: 489px;
    height: 64px;
    left: calc(50% - 489px/2);
    top: calc(50% - 64px/2); 
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center; 
    color: #232323;
}
.contactpage .facebook,.instagram,.linkedin{ 
/* position: absolute; */
display: flex;
width: 178px;
height: 80px;
left: 30px;
top: 610px; 
background: #FF2B06;
border-radius: 80px; 
text-align: center;
align-items: center;
justify-content: center;
}
.contactpage .facebook .icon{
    display: flex;
    /* position: absolute; */
    width: 40px;
    height: 39.9px;
    font-size: 52px;
    justify-content: center;
    align-items: center;
    color: blacks;
    text-align: center;
    left: calc(50% - 40px/2);
    top: calc(50% - 39.9px/2 - 0.05px); 
    /* background: #232323; */
}
.contactpage .facebook  a{
    color: #212121;
    text-decoration: none;
} 
.contactpage .instagram .icon{
    /* position: absolute; */
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: calc(50% - 40px/2); 
    font-size: 52px;
}
.contactpage .instagram a{
    color:  black;
    text-decoration: none;
} 
.contactpage .linkedin .icon{
    /* position: absolute; */
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: calc(50% - 40px/2);
    
    font-size: 52px;
}
.contactpage .linkedin a{
    color: black;
    text-decoration: none;
}

.contactpage .copyright{ 
    display: flex;
    align-items: center;
    justify-content: center;
width: 595px;
height: 80px;
left: 655px;
top: 610px;
background: #FFFFFF;
border-radius: 60px;
}
.contactpage .copyright .content{ 
    width: 382px;
    height: 41px;
    left: calc(50% - 382px/2 + 0.5px);
    top: calc(50% - 41px/2 + 0.5px);
    
    font-family: 'Satoshi Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    text-align: center;
    
    /* Light Black */
    color: #232323;
}
